html {
  background-image: url(bckimg.jpeg);
}

img {
  height: 250px;
  border-radius: 25px;
  margin-left: 25px;
}

h1 {
  color: rgb(214, 128, 71);
  margin-left: 12.5px;
  font-size: 50px;
}

h4 {
  color: rgb(214, 128, 71);
  margin-left: 10px;
}

textarea {
  margin-left: 5px;
  border-radius: 4px;
  height: 200px;
  width: 400px;
  font-size: 24px;
  color: rgb(210, 120, 70)
}

input {
  margin-left: 5px;
  display: block;
  background-color: rgb(210, 120, 70);
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 125px;
}